<ion-header>
  <ion-navbar>
    <ion-title>OCR Results</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="font-size: 16px;">
    {{data.description}}
  </div>

</ion-content>